* {
    font-family: 'Istok Web', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.70s;
    list-style: none;
}
body {
    background: linear-gradient(to bottom right, #09001A, #14003B);
}
::selection {
    background: #8c00ff;
    color: #fff;
}
::-webkit-scrollbar{
    border-radius: 1000px;
    background: #11001f;
    height: 3px;
    width: 5px;
}
::-webkit-scrollbar-corner{
    opacity: 0;
}
::-webkit-scrollbar-thumb{
    width: 15px;
    background: linear-gradient(#150025, #5800FF, #150025);
}
::-webkit-scrollbar-corner{
    opacity: 0;
}

/*=== Header ===*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    padding: 19px;
    position: sticky;
    border-radius: 20px;
    top: 20px;
    width: 90%;
    border: 1px solid #ffffff09;
    max-width: 1100px;
    background: #11003133;
    backdrop-filter: blur(5px);
    margin: auto;
    box-shadow: 0px 0px 20px #00000050;
    z-index: 9999999999999999;
    
}
header img {
    width: 65px;
    height: 65px;
}
header a {
    font-size: 22px;
    opacity: 70%;
}
header a:hover{
    filter: drop-shadow(0px 0px 10px #ffffff31);
    font-weight: bold;
    opacity: 1;
}
header .line {
    width: 1px;
    height: 95%;
    border-radius: 100px;
    background: #fff;
    opacity: 50%;
}
header button {
    padding: 8px;
    background: none;
    border: 2px solid #5800FF;
    width: 150px;
    font-size: 19px;
    border-radius: 5px;
}
header #menuToggle{
    font-size: 30px;
    margin-left: 10px;
    display: none;
}
header button:hover {
    background: #5800FF;
}
@media(min-width: 750px) {
    #navMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 600px;
    }
}
@media(max-width: 955px){
    #navMenu{
        max-width: 450px !important;
    }
    #navMenu a{
        font-size: 17px;
    }
}
@media(max-width: 789px) {
    #menuToggle {
        display: block !important;
    }
    .line {
        display: none;
    }
    #navMenu {
        flex-direction: column;
        gap: 10px;
        background: #09001a50;
        position: fixed;
        backdrop-filter: blur(5px);
        width: 100%;
        max-width: 250px !important;
        height: 300px;
        border-radius: 10px;
        margin: auto;
        right: 10px;
        top: -1000px;
        gap: 20px;
        padding: 20px;
    }
    #navMenu.active {
        top: 150px;
    }
    #navMenu a {
        font-size: 22px;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }

    header img {
        order: 2;
        margin: 0px auto ;
        transform: translateX(20px);
    }

    header button {
        order: 3;
        width: 130px;
    }
}

/*=== Timeline ===*/
.main-timeline-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    position: relative;
}
.timeline-container {
    position: fixed;
    top: 130px;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
@media(max-height: 650px) {
    .timeline-container {
        height: 470px !important;
    }
}
@media(max-height: 600px) {
    .timeline-container {
        height: 440px !important;
    }
}
@media(max-height: 550px) {
    .timeline-container {
        height: 370px !important;
    }
}
@media(max-height: 500px) {
    .timeline-container {
        height: 320px !important;
    }
    .timeline-dot {
        width: 10px !important;
        height: 10px !important;
    }
}
@media(max-height: 450px) {
    .timeline-container {
        height: 250px !important;
    }
}
.timeline-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #20005D;
    left: -10px;
    transform: translateX(-50%);
}
.timeline-dot {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #20005D;
    border-radius: 50%;
    transition: 0.3s ease;
    left: -10px;
    transform: translateX(-50%);
    cursor: pointer;
}
.timeline-dot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 20px;
    height: 2px;
    transform: translateY(-50%);
}
.timeline-dot.active {
    background-color: #5800FF;
    box-shadow: 0 0 25px #5900ff48;
}
.dot-1 { top: 0%; }
.dot-2 { top: 30%; }
.dot-3 { top: 50%; }
.dot-4 { top: 70%; }
.dot-5 { top: 100%; transform: translate(-50%, -100%); }

/*=== Hero Section ===*/
.hero{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px auto 0 !important;
    max-width: 1100px;
    width: 100%;
}
.hero-content{
    margin-left: 50px;
}
.hero-content h3 {
    font-size: 25px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 55px;
    color: #5800FF;
    filter: drop-shadow(0px 0px 20px #5900ff46);
    font-weight: bold;
    margin-bottom: 10px;
}
.hero-img img{
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-top: 20px;
}
.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}
.hero-buttons i{
    font-size: 23px;
    padding-right: 5px;
}
.btn-purple {
    background: #5800FF;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 180px;
}

.btn-outline {
    background: transparent;
    padding: 10px;
    border: 2px solid #5800FF;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 180px;
}

.social-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
    gap: 20px;
    font-size: 24px;
    bottom: -30px;
}
.social-icons i{
    font-size: 30px;
}
span{
    color: #5800FF;
}
@media(max-width:500px){
    .hero h3{
        font-size: 19px;
    }
    .hero h1{
        font-size: 2em;
    }
    .btn-purple{
        width: 130px;
        font-size: 12px;
    }
    .btn-outline{
        width: 130px;
        font-size: 12px;
    }
    .hero-buttons i{
        font-size: 15px;
    }
}

/*=== About Section ===*/
section{
    margin: auto;
}
.title{
    padding: 10px;
    text-align: center;
    position: relative !important;
    margin-top: 100px;
}
.title h1{
    margin: auto;
    font-size: 100px;
    z-index: 0;
    opacity: 0.10;
    font-weight: 500;
}
@media(max-width: 553px){
    .title h1{
        font-size: 80px;
    }
}
@media(max-width:446px){
    .title h1{
        font-size: 70px;
    }
}
@media(max-width: 394px){
    .title h1{
        font-size: 60px;
    }
    .title h2{
        font-size: 35px !important;
    }
}
.title h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 40px;
    color: #5800FF;
}
